<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DiseaseRegionMapper">
	<resultMap type="fdp.project.spring.model.DiseaseRegion" id="DiseaseRegionMap">
		<result property="id" column="iddisease_region"/>
		<result property="disMomth" column="dis_momth"/>
		<result property="disName" column="dis_name"/>
		<result property="disRegion" column="dis_region"/>
		<result property="disNumPatient" column="dis_num_patient"/>
		<result property="disCost" column="dis_cost"/>
		<result property="patientSum" column="sum(dis_num_patient)"/>
		<result property="costSum" column="sum(dis_cost)"/>
		<result property="disYear" column="dis_year"/>
	</resultMap>


	<select id="selectList"
		parameterType="fdp.project.spring.model.DiseaseRegion"
		resultMap="DiseaseRegionMap">
		SELECT dis_name, dis_region, sum(dis_num_patient), sum(dis_cost) FROM disease_region 
		WHERE dis_name=#{disName} and dis_year=#{disYear}
		GROUP BY dis_region;
	</select>

</mapper>